.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
}

.details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.note {
  margin-bottom: 15px; /* Space below the note */
  font-size: 15px; /* Slightly smaller font */
  color: #555; /* A soft gray color */
  font-weight: bold;
}


